<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal portofolio</title>
    
        <!-- linking bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- linking personal css -->
        <link rel="stylesheet" media="screen and (max-width: 767px)" href="../public/CSS/phone_style.css">
        <link rel="stylesheet" media="screen and (min-width: 767px) and (max-width: 1023px)" href="../public/CSS/tablet_style.css">
        <link rel="stylesheet" media="screen and (min-width: 1024px)" href="../public/CSS/style.css">
        <link rel="stylesheet" href="../public/CSS/button_style.css">
        <!-- linking google fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Lobster&family=Raleway:wght@100;400&display=swap" rel="stylesheet"> 
    
    </head>
    <body><div class="intro_container"><div class="intro"><h1 id="intro_heading">I'm Vasanth Kumar Nimmiti</h1>
<p>Computer engineering </p></div></div>

    <hr>

    <div class="aboutme">
        <img id="mypic" src="../public/images/intro/image.jpg" alt="My-Picture">
<h1>Hello.</h1><p></p>Afgd</p>
    </div><hr><div class="myskills"><h1>My skills : </h1><div class="skills">
        <img src="../public/images/skills/skillImg1.jpg" alt="computer-Image">
        <div class="skills_text">
            <h2>Full stack developer </h2>
            <p >A Full-Stack developer is a professional responsible for working on both front-end and back-end development processes. They design, develop, and maintain fully-fledged and functioning platforms with databases or servers. These servers do not need other third-party applications to build an entire system from scratch.</p>
        </div>
    </div><hr><div class="in_touch"><h1>Get in touch</h1> <p>Sfgv</p><br><br><a class="styled_button" href="mailto:vasanthnimmiti0706@gmail.com">CONTACT ME</a></div><div class="footer"><div class="footer_images"><a href="https://www.instagram.com/Vasanth_0706/?hl=en"><img src="../public/images/contact/instagram.png" alt="Instagram"></a><a href="mailto:vasanthnimmiti0706@gmail.com"><img src="../public/images/contact/mail.png" alt="Gmail"></a><p>© 2022 Vasanth Kumar Nimmiti.</p></div></div>     <!-- linking bootsrtaps js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- linking custom js file -->
    <script src="javascript/index.js"></script>
</body>
</html>