<%- include('partials/header'); %>

<div class="profiles-container py-5">
    <h1 class="heading">Our Team</h1>

    <div class="my-5 container">

        <div class="row">
            <div class="profile col-sm-12 col-md-6 col-lg-4 mb-5">
              <h3 class="user-name">Abdur Rahman</h3>
              <h5>Senior Developer</h5>
              <p>Abdur rahman, studying computer engineering in sai ganapathi college from vizayanagaram. Managed the operations of the project by conducting research and creating plans that suit the needs of the project.</p>
            </div>
      
            <div class="profile col-sm-12 col-md-6 col-lg-4 mb-5">
              <h3 class="user-name">Mani Chandan</h3>
              <h5>CO-Developer</h5>
              <p>Mani Chandan, studying computer engineering at Sai Ganapathi College in Vishakapatnam, is the partner of the
                developer for the establishment, development, and operation of the site.</p>
            </div>
            
            <!-- <div class="profile col-sm-12 col-md-6 col-lg-4 mb-3">
              <h3 class="user-name">Sai Murthi</h3>
              <h5>Designer</h5>
              <p>Sai, who is studying computer engineering at Sai Ganapathi College in Visakhapatnam, planned, created, and coded web
                pages and was responsible for creating the design and layout of the website.</p>
            </div> -->
      
            <div class="profile col-sm-12 col-md-6 col-lg-4 mb-5">
              <h3 class="user-name">Samba Siva</h3>
              <h5>Tester</h5>
              <p>Samba Siva Rao, studying computer engineering at Saiganapathi College in Vishakapatnam, tested and
                evaluated the performance of the site on the internet and ensured its quality by testing the functionality of
                the site.<br><br></p>
            </div>
      
            <div class="profile col-sm-12 col-md-6 col-lg-4 mb-5">
              <h3 class="user-name">Vasanth Kumar</h3>
              <h5>Copy Writer</h5>
              <p>Vasanth Kumar, studying computer engineering at Sai Ganapathi College in Vishakapatnam, wrote digital content
                for all the pages created on the site. and ensured that the content of the site kept the website visitors
                engaged.</p>
            </div>
        </div>
    </div>
  </div>

<%- include('partials/footer'); %>