<%- include('partials/header'); %>

    <div class="documentation-container">
        <h4>Follow our easy steps to host your portfolio on your local computer.</h4>
        <div class="inner_documentation container">
            <div class="row">
                <p><span>Step 1: </span>Open the downloaded .zip file by unzipping it.</p>
<!--                 <img src="images/documentation/step_1.png" class="documentation-img"> -->
            </div>
            <div class="row">
                <p><span>Step 2: </span>Double click the index.html file.</p>
            </div>
        </div>
        <p class="last-text">That's it now your portfolio is being rendered on the browser.</p>


        <%- include('partials/footer'); %>