<%- include('partials/header'); %>

    <div class="documentation-container">
        <h4>Follow our easy steps to host your portfolio on your local computer.</h4>
        <div class="inner_documentation container">
            <div class="row">
                <p><span>Step 1: </span>Extract the downloaded zip file.</p>
                <img src="images/documentation/step_1.png" class="documentation-img">
            </div>
            <div class="row">
                <p><span>Step 2: </span><a href="https://nodejs.org/en/download/" target="_blank">Click here</a> and
                    download node.js to your PC.</p>
            </div>
            <div class="row">
                <p><span>Step 3: </span>After downloading, install the application on your PC.</p>
            </div>
            <div class="row">
                <p><span>Step 4: </span>Copy the path of the extracted files.</p>
                <img src="images/documentation/Step_4(1) .png" class="documentation-img">
                <img src="images/documentation/step_4(2).png" class="documentation-img">
            </div>
            <div class="row">
                <p><span>Step 5: </span>Open the command prompt, type <code>cd </code>, and paste the path of the
                    extracted files copied before. Then press Enter.</p>
                <img src="images/documentation/step_5.png" class="documentation-img">
            </div>
            <div class="row">
                <p><span>Step 6: </span>Now type <code>npm i</code> and press Enter.</p>
                <img src="images/documentation/step_6.png" class="documentation-img">
                <img src="images/documentation/step_6(1).png" class="documentation-img">
            </div>
            <div class="row">
                <p><span>Step 7: </span>Now type <code>node app.js</code> and press Enter.</p>
                <img src="images/documentation/step_7.png" class="documentation-img">
                <img src="images/documentation/step_7(1).png" class="documentation-img">
            </div>
            <div class="row">
                <p><span>Step 8:</span> Now open any browser and type <code>localhost:3001</code> in the URL.</p>
            </div>
        </div>
        <p class="last-text">That's it now your portfolio is being rendered on the browser.</p>


        <%- include('partials/footer'); %>