<%- include('partials/header'); %>

    <div class="introContainer">
        <div class="intro mb-5">
            <h1> It's <span class="auto-type"></span></h1>
        </div>
        <a class="btn btn-primary rounded-pill" href="/create">Create
            <lord-icon src="https://cdn.lordicon.com/wxgbcyqg.json" trigger="hover" colors="outline:#ffffff"
                style="width:2rem;height:2rem">
            </lord-icon>
        </a>
    </div>
    
    <div class="text-center home-scrolling py-5">
        <div class="mx-0 row mb-5">
            <div class=" col-lg-6 col-md-12 scrolling-text">
                <div>
                    <h2>Create a website without limits.</h2>
                    <span>Get access to different colour pallets to design your website.</span>
                </div>
            </div>
            <div class=" col-lg-6 col-md-12">
                <img src="images/home/2.jpg" alt="" class="home-img">
            </div>
        </div>
        <div class="mx-0 row mb-5">
            <div class=" col-lg-6 col-md-12 scrolling-text order-lg-2">
                <div>
                    <h2>Build more than a website.</h2>
                    <span>Get visible to companies by creating beautiful and modern websites.</span>
                </div>
            </div>
            <div class=" col-lg-6 col-md-12 order-lg-1">
                <img src="images/home/3.jpg" alt="" class="home-img">
            </div>
        </div>
        <div class="mx-0 row mb-5">
            <div class=" col-lg-6 col-md-12 scrolling-text">
                <div>
                    <h2>Generate your free website.</h2>
                    <span>Create a full fledged website without paying even a penny.</span>
                </div>
            </div>
            <div class=" col-lg-6 col-md-12">
                <img src="images/home/4.jpg" alt="" class="home-img">
            </div>
        </div>
    </div>


    <%- include('partials/footer'); %>