<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal portofolio</title>
    
        <!-- linking bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- linking personal css -->
        <link rel="stylesheet" media="screen and (max-width: 767px)" href="../public/CSS/phone_style.css">
        <link rel="stylesheet" media="screen and (min-width: 767px) and (max-width: 1023px)" href="../public/CSS/tablet_style.css">
        <link rel="stylesheet" media="screen and (min-width: 1024px)" href="../public/CSS/style.css">
        <link rel="stylesheet" href="../public/CSS/button_style.css">
        <!-- linking google fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Lobster&family=Raleway:wght@100;400&display=swap" rel="stylesheet"> 
    
    </head>
    <body><div class="intro_container"><div class="intro"><h1 id="intro_heading">I'm Mohammed abdurrahman</h1>
<p>Programmer</p></div></div>

    <hr>

    <div class="aboutme">
        <img id="mypic" src="../public/images/intro/image.jpeg" alt="My-Picture">
<h1>Hello.</h1><p></p>asdf</p>
    </div><hr><div class="myskills"><h1>My skills : </h1><div class="skills">
        <img src="../public/images/skills/skillImg1.jpeg" alt="computer-Image">
        <div class="skills_text">
            <h2>Coading</h2>
            <p >coading Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div><hr><div class="in_touch"><h1>Get in touch</h1> <p>asdf</p><br><br><a class="styled_button" href="mailto:roxal15580@jernang.com">CONTACT ME</a></div><div class="footer"><div class="footer_images"><a href="https://www.instagram.com/mohammed__abdurrahman/?hl=en"><img src="../public/images/contact/instagram.png" alt="Instagram"></a><a href="mailto:roxal15580@jernang.com"><img src="../public/images/contact/mail.png" alt="Gmail"></a><p>© 2022 Mohammed abdurrahman.</p></div></div>     <!-- linking bootsrtaps js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- linking custom js file -->
    <script src="javascript/index.js"></script>
</body>
</html>